<div class="back-button col-md-2">
   <i class="fa fa-arrow-left" aria-hidden="true"></i>
   <%= link_to 'Retour', playlists_path %>
</div>

<div class="add-section col-md-10 col-md-offset-1">
   <h1>Ajouter un album</h1>
   <%= render 'form' %>
</div>
