<div class="back-button col-md-2">
   <i class="fa fa-arrow-left" aria-hidden="true"></i>
   <%= link_to 'Retour', selections_path %>
</div>

<div class="update-section col-md-10 col-md-offset-1">
   <h1>Modifier une playlist</h1>
   <%= render 'form' %>
</div>
