.single-album-page {
   color: #fff;
   margin-top: 50px;
   .album-avatar {
      img {
         border: 8px solid rgba(100, 100, 100, 0.1);
         width: 100%;
      }
   }
   .album-name {
      margin: 0;
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 18px;
      text-transform: uppercase;
   }
   .artist-name {
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 11px;
      text-transform: uppercase;
   }
   .release-date {
      font-size: 13px;
   }
}
