#artists-list {
   clear: both;
   display: block;

   .artist {
      margin-bottom: 30px;
      img {
         width: 100%;
      }
      p {
         font: 300 12px 'Montserrat', Arial, sans-serif;
         text-transform: uppercase;
         margin: 5px 0 0 0;
      }
      .artist-name {
         background: #fff;
         margin: 0;
         padding: 10px;
         width: 100%;
         a {
            color: #191a1a;
         }
      }
      .edit-section {
         background: #FF5A51;
         padding: 5px 10px;
         width: 100%;
         a {
            color: #fff;
            font-size: 11px;
            margin-right: 10px;
         }
      }
   }
}

.add-new-artist {
   margin-bottom: 20px;
}

/* Single */
.single-artist-page {
   margin: 30px 0 50px 0;
   .artist-avatar {
      img {
         border-radius: 100%;
      }
   }
   .artist-informations {
      color: #fff;
      h2 {
         color: #fff;
         font: 300 17px 'Montserrat', Arial, sans-serif;
         text-transform: uppercase;
         margin: 0 0 20px 0;
      }
      p {
         font-size: 12px;
         text-align: justify;
      }
      #votable-buttons {
         .btn-info {
            background: #FF5A51;
            border: 1px solid #FF5A51;
            .badge {
               color: #FF5A51;
            }
            &:focus {
               outline: none;
            }
         }
      }
   }

   #discography {
      margin-top: 50px;
      h3 {
         font: 300 12px 'Montserrat', Arial, sans-serif;
         text-transform: uppercase;
         color: #fff;
      }
      .album {
         img {
            width: 100%;
         }
         p {
            background: #fff;
            text-transform: uppercase;
            font: 300 12px 'Montserrat', Arial, sans-serif;
            color: #191a1a;
            padding: 10px;
            a {
               color: #191a1a;
            }
         }
      }
   }
}
