#artists-list {
   clear: both;
   display: block;

   .artist {
      img {
         width: 100%;
      }
      p {
         font-family: 'Montserrat', Arial, sans-serif;
         text-transform: uppercase;
         font-size: 12px;
         margin: 5px 0 0 0;
      }
      .edit-section {
         a {
            color: #FF5A51;
            font-size: 11px;
         }
      }
   }
}

.add-new-artist {
   margin-bottom: 20px;
}
