* {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

h1 {
   font-family: 'Montserrat', Arial, sans-serif;
   font-size: 15px;
   text-transform: uppercase;
   color: #F32200;
}

.btn-submit {
   background: #FF5A51;
    padding: 5px 8px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    width: 150px;
   &:focus {
      outline: none;
      color: #fff;
   }
   &:hover {
      background: #E03A47;
      color: #fff;
      outline: none;
   }
}

#main-header {
   width: 100%;
   background: #FF5A51;
   .logo {
      background: url("/assets/logo.svg") center center no-repeat;
      width: 114px;
      text-indent: -99999px;
      display: block;
      height: 39px;
      background-size: 100%;
   }
   .login-section {
      a {
         font-family: 'Montserrat', Arial, sans-serif;
         text-transform: uppercase;
         font-size: 11px;
         color: #FFF;
      }
   }
}

#login-header {
   padding: 20px 0;
   border-bottom: 1px solid #000;
   .logo {
      background: url("/assets/logo_black.svg") center center no-repeat;
      width: 180px;
      text-indent: -99999px;
      display: block;
      height: 55px;
      background-size: 100%;
      margin: 0 auto;
   }
}
