* {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

h1 {
   font-family: 'Montserrat', Arial, sans-serif;
   font-size: 15px;
   text-transform: uppercase;
   color: #F32200;
}

/* Bouton submit */
.btn-submit,
.add {
   background: #FF5A51;
   padding: 5px 8px;
   border-radius: 50px;
   border: none;
   color: #fff;
   text-align: center;
   font-family: 'Montserrat', Arial, sans-serif;
   text-transform: uppercase;
   font-size: 11px;
   width: 150px;
   display: block;
   &:focus {
      outline: none;
      color: #fff;
      background: #E03A47;
   }
   &:hover {
      background: #E03A47;
      color: #fff;
      outline: none;
      text-decoration: none;
   }
}

#main-header {
   width: 100%;
   background: #FF5A51;
   padding: 10px;
   .logo {
      background: url("/assets/logo.svg") center center no-repeat;
      width: 114px;
      text-indent: -99999px;
      display: block;
      height: 39px;
      background-size: 100%;
   }
   .login-section {
      a {
         font-family: 'Montserrat', Arial, sans-serif;
         text-transform: uppercase;
         font-size: 11px;
         color: #FFF;
      }
   }
   #user-informations {
      color: #fff;
      padding-top: 10px;
      .logout {
         background: url("/assets/logout.svg") center center no-repeat;
         background-size: 100%;
         display: inline-block;
         text-indent: -99999px;
         width: 20px;
         height: 20px;
         margin-left: 20px;
      }
   }
}

#login-header {
   padding: 20px 0;
   border-bottom: 1px solid #000;
   .logo {
      background: url("/assets/logo_black.svg") center center no-repeat;
      width: 180px;
      text-indent: -99999px;
      display: block;
      height: 55px;
      background-size: 100%;
      margin: 0 auto;
   }
}

.authentification {
   margin-top: 70px;
   h2 {
      color: #FF5A51;
      font-family: 'Montserrat', Arial, sans-serif;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
   }
   a {
      color: #FF5A51;
   }
   #not-member,
   #still-have-account {
      text-align: center;
      margin: 20px 0 10px 0;
      color: #999;
      font-size: 12px;
   }
   input[type="text"],
   input[type="password"],
   input[type="email"] {
      border: 1px solid #ccc;
      &:hover,
      &:focus {
         box-shadow: none;
         border: 1px solid #999;
      }
   }
   .btn-submit {
      margin: 0 auto;
   }
}

#sidebar {
   padding: 0 0 0 15px;
   background-color: #202122;
   height: auto;
   overflow: auto;

   #sidebar-nav {
      color: #fff;
      margin-top: 40px;
      section {
         margin-bottom: 20px;
         #new-playlist {
            background-color: #FF5A51;
            padding: 3px 5px;
            margin-top: 5px;
            width: 95%;
            a {
               font-family: 'Montserrat', Arial, sans-serif;
               font-weight: bold;
               font-size: 11px;
               text-transform: uppercase;
               color: #fff;
               transition: all ease 300ms;
               &:hover {
                  text-decoration: none;
                  padding-left: 20px;
               }
            }
         }
         h3 {
            color: #FF5A51;
            font-size: 13px;
            text-transform: uppercase;
            margin: 0;
            font-family: 'Montserrat', Arial, sans-serif;
         }
         p {
            color: #fff;
            margin: 0 0 0 10px;
         }
      }
   }

   #user-infos {
      .gravatar {
         padding-top: 20px;
         img {
            width: 70px;
            border-radius: 100%;
            margin: 0 auto;
            display: block;
         }
      }
   }
}
