* {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

#main-header {
   .navbar {
      .navbar-brand {
         background: url("/assets/logo.svg") center center no-repeat;
         width: 114px;
         margin: 20px 0;
         text-indent: -99999px;
         display: block;
         height: 39px;
         background-size: 100%;
      }
   }
}
