#styles-list {
   clear: both;
   display: block;

   .style {
      margin-bottom: 25px;
      .style-avatar {
         img {
            width: 100%;
         }
      }
      .style-name {
         background: #fff;
         color: #191a1a;
         margin: 0;
         text-align: center;
         padding: 10px 0;
         font-family: 'Montserrat', Arial, sans-serif;
         text-transform: uppercase;
         font-size: 14px;
      }
      .edit-section {
         background: #FF5A51;
         padding: 5px 10px;
         width: 100%;
         a {
            color: #fff;
            font-size: 11px;
            margin-right: 10px;
         }
      }
   }
}

.add-new-style {
   margin-bottom: 20px;
}
