#tracks-list {
   clear: both;
   display: block;
   margin-top: 30px;
   .track {
      padding: 5px;
      overflow: auto;
      &:nth-child(even) {
         background: #2c2c2c;
      }
      &:nth-child(odd) {
         background: #272727;
      }
      audio {
         display: block;
         z-index: 1000;
      }
      .play-button {
         background: url("/assets/play_button.svg") center center no-repeat;
         width: 30px;
         text-indent: -99999px;
         display: block;
         height: 30px;
         background-size: 100%;
         float: left;
      }
      .track-name {
         color: #fff;
         float: left;
         margin: 4px 0 0 10px;

      }
      a {
         color: #FF5A51;
         &:hover {
            color: #E03A47;
         }
      }
   }
   .edit-section {
      margin-top: 4px;
      float: right;
      a {
         float: left;
         margin-right: 15px;
      }
   }
}

.add-new-track {
   margin-bottom: 20px;
}
