<header id="main-header">
   <%= link_to root_path do %>
      <%= content_tag :span, "Vyco", :class => "logo" %>
   <% end %>
   <div class="login-section">
      <a href="#" title="Connexion">Connexion</a>
      <a href="#" title="Inscription">Inscription</a>
   </div>
   <%= current_user.name %>
</header>
